mixin sItsEasy(data)
	// start sItsEasy
	+b.SECTION.sItsEasy.section#sItsEasy&attributes(attributes)
		.container
			+b.section-title.text-center
				h3 Все! Это просто. И Вы точно с этим справитесь.
				p Смотрите наглядно, как в несколько кликов мышки и за несколько секунд находить прибыльные циклы:
			+e.img-wrap: .img-wrap-center: iframe(src="https://www.youtube.com/embed/gZqA8RP2zu8" title="🔥 Cozy Fireplace 4K (12 HOURS). Fireplace with Crackling Fire Sounds. Fireplace Burning 4K" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
			+btnBase('Хочу получить доступ к TradingVision.PRO прямо сейчас')
	// end sItsEasy