mixin sItsEasy(data)
	// start sItsEasy
	+b.SECTION.sItsEasy.section#sItsEasy&attributes(attributes)
		.container
			+b.section-title.text-center
				h3 Все! Это просто. И Вы точно с этим справитесь.
				p Смотрите наглядно, как в несколько кликов мышки и за несколько секунд находить прибыльные циклы:
			+e.img-wrap: .img-wrap-center: iframe(src="https://www.youtube.com/embed/X-CAij3YvB0" title="Прогноз: когда точно вырастет стоимость акций Лукойл? Узнайте заранее!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
	// end sItsEasy

mixin sItsEasy2(data)
	// start sItsEasy
	+b.SECTION.sItsEasy.section#sItsEasy2&attributes(attributes)
		+e.title.text-center
			h3 Это лишь базовые варианты.
			p Циклы – фундаментальное свойство финансовых рынков. Вы можете использовать их в сочетании с любыми инструментами и торговыми системами. Например, в торговле опционами. Или входить в сделку по циклу и держать открытой до тех пор, пока не закончится восходящий тренд.
			h4 Смотрите видео с примером использования циклов в трейдинге:
		+e.img-wrap: .img-wrap-center: iframe(src="https://www.youtube.com/embed/K4_TxXx_PYc" title="Циклический трейдинг вслепую. Сделки по Сбербанку, Лукойлу, ВТБ, Х5 Retail и фьючерсу на платину" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
		+btnBase('Начать зарабатывать на циклах сегодня')
	// end sItsEasysItsEasy