mixin sMainRule(data)
	// start sMainRule
	+b.SECTION.sMainRule.section#sMainRule&attributes(attributes)
		.container
			+b.section-title.text-center
				h3 Главное правило циклического трейдинга:
				p Чем больше качественных циклов Вы торгуете параллельно, тем больше и стабильнее прибыль Вы получаете.
			+e.row
				.row
					.col-sm-6.col-lg-4: +e.item Комбинируйте годовые, месячные и&nbsp;недельные циклы.
					.col-sm-6.col-lg-4: +e.item Диверсифицируйте торговлю по&nbsp;разным рынкам.
					.col-sm-6.col-lg-4: +e.item Генерируйте портфели циклических стратегий и&nbsp;заполняйте ими свой календарь сделок.
			+e.text Каждый новый цикл в Вашем портфеле – новый источник дохода. Потолка заработка здесь нет и не будет!
			+btnBase('Заполните календарь прибыльными циклами прямо сегодня')
	// end sMainRule