mixin sCycles(data)
	// start sCycles
	+b.SECTION.sCycles.section#sCycles&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как зарабатывать деньги с помощью циклов?
			+e.row.row
				.col-md-6.col-lg-4
					+e.item
						h4 Торговать циклические стратегии.
						p Самый простой способ заработка, с которым справится даже ребенок, умеющий пользоваться календарем. Создайте портфель циклических стратегий, а дальше открывайте и закрывайте сделки по календарю, либо запустите автоматическую торговлю.
				.col-md-6.col-lg-4
					+e.item
						h4 Использовать циклы в инвестициях
						p Регулярно инвестируете свои накопления? Покупайте активы в соответствии с их циклами. Этим Вы обеспечите себе лучшие цены и рост сразу после покупки.
				.col-md-6.col-lg-4
					+e.item
						h4 Использовать циклы в своей торговой стратегии
						p Циклы укажут Вам периоды роста и падения. Добавьте их в Вашу торговую стратегию и увеличьте точность Ваших сделок.
			+sItsEasy2
	// end sCycles

mixin sCycles2(data)
	// start sCycles
	+b.SECTION.sCycles.section#sCycles2&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как зарабатывать деньги с помощью циклов?
			+e.row.row
				.col-md-6.col-lg-4
					+e.item--green
						h4 Торговать циклические стратегии.
						p Самый простой способ заработка, с которым справится даже ребенок, умеющий пользоваться календарем. Создайте портфель циклических стратегий, а дальше открывайте и закрывайте сделки по календарю, либо запустите автоматическую торговлю.
				.col-md-6.col-lg-4
					+e.item--green
						h4 Использовать циклы в инвестициях
						p Регулярно инвестируете свои накопления? Покупайте активы в соответствии с их циклами. Этим Вы обеспечите себе лучшие цены и рост сразу после покупки.
				.col-md-6.col-lg-4
					+e.item--green
						h4 Использовать циклы в своей торговой стратегии
						p Циклы укажут Вам периоды роста и падения. Добавьте их в Вашу торговую стратегию и увеличьте точность Ваших сделок.
			+sItsEasy2