// start .sBenefits
.sBenefits {
	// --sPT: #{rem()};
	--sPB: #{rem(10)};
	// --sTPB: #{rem()};
	
	&__row{
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(8)};
    margin-bottom: rem(56);
	}
	.section-title{
		
	}
	&__col{
		position: relative;
	}
  &__item {
		position: relative;
		padding: rem(18);
		border-radius: rem(20);
		line-height: 1.3;
		height: 100%;
		z-index: 1;
    background-color: $white;
		@include media-breakpoint-up(md) {
			padding: rem(23);
		}
		span {
			display: inline-block;
			margin-bottom: rem(16);
			font-weight: 700;
		}
		p {
			margin-bottom: 0;
		}
		img {
			position: absolute;
			right: rem(16.4);
			bottom: 0;
			z-index: -1;
			opacity: 0.6;
			@include media-breakpoint-up(xl) {
				opacity: 1;
			}
		}
		&--secondary {
			background-color: $primary;
			color: #fff;
			span {
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
          max-width: rem(261);
        }
			}
		}

	}
  &__col:not(:last-child) {
      &:after {
        content: '';
        width: rem(16);
        height: rem(20);
        position: absolute;
        right: 50%;
        top: 100%;
        transform: translate(30%, -50%) rotate(90deg);

        @include media-breakpoint-up(lg) {
          right: 0;
          top: 50%;
          transform: translate(30%, -50%);
        }
        z-index: 2;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6307_80)'%3E%3Cmask id='mask0_6307_80' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='20'%3E%3Cpath d='M16 20V0L0 0L0 20H16Z' fill='white' /%3E%3C/mask%3E%3Cg mask='url(%23mask0_6307_80)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1499 10.3213L13.5874 11.973L6.05636 19.9343L2.84435 16.7223L6.69004 12.6572H7.49461e-07L0 7.98535H6.69013L2.51027 3.56688L5.80747 0.445312L13.5874 8.66954L15.1499 10.3213Z' fill='%2300B3F5' /%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6307_80'%3E%3Crect width='16' height='20' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        // background-image: url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10H12.5M12.5 10L4.5 2M12.5 10L4.5 18' stroke='%2300B3F5' stroke-width='5' /%3E%3C/svg%3E");
      }
    }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBenefits

.benefit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(30);
  max-width: rem(945);
  margin: auto;
  margin-bottom: rem(59);
	@include media-breakpoint-up(md) {
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
	@include media-breakpoint-up(lg) {
    gap: rem(77);

  }
	@include media-breakpoint-down(md) {
    flex-direction: column;
  }

  &__img-wrap {
    border-radius: rem(20);
    overflow: hidden;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
  &__descr {
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
  span {
    color: $primary;
  }

  p:last-child {
    margin-bottom: 0;
  }
}