mixin sEasyWay(data)
	// start sEasyWay
	+b.SECTION.sEasyWay.section#sEasyWay&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h2 Самый простой, комфортный и быстрый<br/>путь к деньгам
					h4 Чтобы прийти к успеху в трейдинге, Вам нужно:
				+e.row.row
					mixin item(span, text, customClass, img)
						.col-sm-6.col-lg-4
							+e.item(class=customClass)
								span!= span
								p!= text
								if img
									+img(`img/${img}`)
					+item('от 1 года', 'Учиться и впитывать в себя тонны знаний, чтобы найти рыночную закономерность, которая приносит деньги')
					+item('от 3-х лет', 'Практиковаться, нарабатывать нужные навыки и опыт, чтобы научиться извлекать прибыль из найденной закономерности')
					+item('от 4-х часов в день', 'Сидеть за монитором, следить за графиками и сопровождать сделки, чтобы в итоге зарабатывать деньги.', '--secondary', 'sEasyWay-img-1.png')
				+e.content-wrap
					h4 Лишь единицы проходят этот путь целиком!
					p Все остальные сворачивают уже в начале пути к поиску кнопки #[span «Бабло»].
					p Надо ли говорить, что такой поиск в итоге приводит лишь к разочарованиям и потере денег?
				+e.last-row.row
					.col-lg-6
						+e.goals
							h4 Задача Trading#[span Vision].PRO – сократить<br/>многолетний путь до нескольких минут.
							p Сервис автоматически найдет от 10 прибыльных закономерностей.
							p Уже через 10 секунд Вы получите простые и понятные правила для открытия и закрытия сделок по календарю и будильнику.
							p В итоге прибыльный трейдинг по расписанию занимает не более двух минут в неделю.
					.col-lg-6
						+e.spend-time
							.wrap
								h4 Тратьте свободное время на жизнь, а не на трейдинг
								p TradingVision.PRO – легкий способ получать вторую зарплату, если Вы не готовы выделять годы своей жизни на трейдинг
							+img('img/sEasyWay-img-1.jpg')
				+btnBase('Хочу начать зарабатывать быстро и комфортно')
	// end sEasyWay