mixin sThreeSteps(data)
	// start sThreeSteps
	+b.SECTION.sThreeSteps.section#sThreeSteps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 3 шага к деньгам с помощью <br/> Trading #[span Vision].PRO
			+e.row.row
				.col-sm-6.col-lg-4
					+e.item
						.title Шаг 
						p Выберите актив, найдите прибыльные циклические закономерности, добавьте их в свою коллекцию циклов. Несколько кликов мышки и 10 секунд времени.
				.col-sm-6.col-lg-4
					+e.item
						.title Шаг 
						p Найдите самый прибыльный вариант портфеля стратегий из всей коллекции циклов. 1 клик мышки и пару секунд времени.
				.col-sm-6.col-lg-4
					+e.item
						.title Шаг 
						p Торгуйте вручную с&nbsp;помощью календаря или уведомлений в<br/>Телеграм/email.
						span или
						p Выгрузите весь портфель циклов в&nbsp;виде торговых роботов для Metatrader&nbsp;5, Metatrader&nbsp;4, QUICK.
						span или
						p Запустите автоматическую торговлю из&nbsp;сервиса напрямую в&nbsp;Т-Инвестиции, Bybit, Interactive Brokers, OKX, Kukoin, Binance.
	// end sThreeSteps