mixin sPromo(data)
	// start sPromo
	+b.SECTION.sPromo.section#sPromo&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h2 Дочитали до конца и все еще не получили доступ к Trading#[span Vision].PRO?
					h4 Позвольте спросить, а зачем вообще Вы пришли в трейдинг?<br>Вы хотите стать профессиональным трейдером?И Вы готовы потратить на обучение и наработку навыков несколько лет Вашей жизни?
				+e.row.row.item
					+e.col.col-12.col-lg-7
						.wrap
							h4 Или, все-таки, Ваша цель – просто создать источник дохода, чтобы:
							ul
								li получать легкие деньги, выделяя на это несколько минут в неделю;
								li тратить свои эмоции в реальной жизни, а не в трейдинге;
								li начать зарабатывать сразу, без длител
								li построить настоящую свободу – финансовую и внутреннюю?
					+e.col.col-12.col-lg-5
						+e.card.card_blue: .h4 Если Ваша цель – простой источник дохода, который можно запустить с первого дня, TradingVision.PRO может обеспечить Вам комфортное достижение этой цели.
				.item.text-center: p Не нужно становиться профессионалом, чтобы зарабатывать деньги на финансовых рынках.<br>В циклическом трейдинге успеха добивается каждый, кто умеет пользоваться календарем
				.text-center: +btnBase('Запустите свой циклический источник дохода прямо сегодня')
	// end sPromo