mixin sCanYou(data)
	// start sCanYou
	+b.SECTION.sCanYou.section#sCanYou&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сомневаетесь, что у Вас получится?
				h4 Вы не останетесь один-на-один с сервисом и рынком!
			+e.row.row
				+e.col.col-md-7
					+e.descr-wrap
						h5 Вы получите обширный комплект знаний и поддержки, цель которого одна – помочь Вам быстро достичь результата, независимо от Ваших текущих знаний и умений:
						ul
							li Подробные видео-уроки по каждой функции #[span TradingVision.PRO].
							li Видео-курс #[span «Циклическая торговля российскими, американскими акциями и фондовыми индексами от А до Я»].
							li Видео-курс #[span «Циклическая торговля криптовалютами от А до Я»].
							li Видео-курс #[span «Циклическая торговля валютами от А до Я»].
							li Видео-курс #[span «Циклическая торговля металлами и товарными активами от А до Я»].
							li #[span Онлайн-практикум“Продвинутые методики циклического трейдинга”] (PRO) – серия онлайн-занятий с продвинутым опытом циклической торговли от Владимира Чамина.
							li #[span Личная поддержка от Владимира Чамина] в течение всего срока доступа к сервису (PRO). Любой вопрос из практики, когда бы он у Вас не возник, Вы всегда сможете задать трейдеру с опытом торговли более 20 лет и по совместительству разработчику веб-сервиса TradingVision.PRO.
							li #[span Личный куратор] и техническая поддержка от Службы Заботы.
				+e.col.col-md-5
					+e.img-wrap: +img('img/sCanYou-img.png')
			+e.text-wrap.text-center
				p Такой комплект не оставит Вам ни единого шанса потерпеть неудачу в&nbsp;циклическом трейдинге (при условии, что Вы сами готовы обучаться и&nbsp;следовать полученным знаниям на практике).
			.text-center: +btnBase('Получить весь комплект обучения и поддержки сейчас')
	// end sCanYou