mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Часто задаваемые вопросы
				h4 Чтобы прийти к успеху в трейдинге, Вам нужно:
			+ddGroup
				+ddGroupItem('Можно ли работать только со смартфона')
					p Да, можно.
				+ddGroupItem('Можно ли работать с планшета?')
					p Да, можно.
				+ddGroupItem('Какой уровень подготовки должен быть для работы с веб-сервисом?', 'active')
					p От Вас требуется только общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах.
				+ddGroupItem('На каких инструментах можно находить циклы с помощью веб-сервиса?')
					p На любых рынках и инструментах: <br>акции РФ, иностранные акции, индексы, фьючерсы, валюты, металлы, криптовалюты и т.д.
				+ddGroupItem('На каких рынках можно находить циклы с помощью веб-сервиса?')
					p Московская биржа, американские и европейские фондовые биржи, фьючерсы московской биржи, Forex, криптовалютные биржи и т.д.<br>Вы можете находить циклические стратегии на любых рынках и инструментах.
				+ddGroupItem('С каким минимальным депозитом можно начинать?')
					p Минимальный депозит зависит от Вашего брокера, обычно от 10000 рублей (или от 100$).
				+ddGroupItem('На каких таймфреймах можно находить циклы?')
					p Сервис позволяет находить прибыльные внутридневные, недельные, месячные и годовые циклы.
				+ddGroupItem('С какими брокерами работать?')
					p Вы можете находить прибыльные циклы с помощью сервиса и торговать по найденным циклам вручную у любого брокера.<br>Вы можете выгружать циклические портфели стратегий в виде роботов для терминалов: Metatrader 5, Metatrader 4, QUICK.<br>Вы можете вести автоматическую торговлю из сервиса напрямую в Тинькофф Инвестиции и на криптобирже Bybit (в разработке также автоматическая торговля через Interactive Brokers, OKX, Kukoin, Binance).
				+ddGroupItem('Циклы могут ломаться?')
					p Да, несмотря на свою надежность и долгосрочность, некоторые циклические стратегии со временем ломаются и перестают работать. В Менеджере сервиса TradingVision.PRO есть функционал, который отслеживает каждую циклическую стратегию и предупредит Вас, если какая-то стратегия в Вашем портфеле показывает признаки поломки.
	// end sQA