mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Часто задаваемые вопросы
				h4 Чтобы прийти к успеху в трейдинге, Вам нужно:
			+ddGroup
				+ddGroupItem('Можно ли работать только со смартфона')
					p От Вас требуется только общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах.
				+ddGroupItem('Можно ли работать с планшета?')
					p От Вас требуется только общая компьютерная грамотность:
				+ddGroupItem('Какой уровень подготовки должен быть для работы с веб-сервисом?', 'active')
					p От Вас требуется только общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах.
				+ddGroupItem('На каких инструментах можно находить циклы с помощью веб-сервиса?')
					p От Вас требуется только общая компьютерная грамотность:
				+ddGroupItem('На каких рынках можно находить циклы с помощью веб-сервиса?')
					p От Вас требуется только общая компьютерная грамотность:
				+ddGroupItem('С каким минимальным депозитом можно начинать?')
					p От Вас требуется только общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах.
				+ddGroupItem('На каких таймфреймах можно находить циклы?')
					p От Вас требуется только общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах.
				+ddGroupItem('С какими брокерами работать?')
					p От Вас требуется только общая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах.
				+ddGroupItem('Циклы могут ломаться?')
	// end sQA