mixin sHowLoopsWork(data)
	// start sHowLoopsWork
	+b.SECTION.sHowLoopsWork.section#sHowLoopsWork&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h2 Почему циклы работают и приносят деньги?
				+e.row.row
					.col-md-auto
						+e.left-content
							p Разве можно заранее узнать, когда точно актив начнет расти? Разве это не пустые попытки предсказания будущего?
							p А Вы можете сейчас точно предсказать, во сколько завтра будет восход солнца?
							p Это несложно сделать. Люди уже давно составили поминутное расписание восходов и закатов солнца на каждый день в году.
							p Большая точность таких предсказаний объясняется тем, что существуют четко выраженные повторяющиеся циклы.
					.col-md.text-lg-center: +img('img/sHowLoopsWork-img-1.jpg')
					.col-md-auto.ms-lg-auto
						+e.right-content
							h4 Цикличность заложена в основу природы и всех процессов, которые нас окружают. Финансовые рынки – не исключение, природа финансовых процессов тоже циклична.
							p Также, как расписание восходов солнца, можно посчитать и периоды роста/падения любого актива.
							p Зная эти периоды, трейдинг становится легким и увлекательным занятием.
	// end sHowLoopsWork