extends ../layout/main.pug

include ../blocks/footer/_footer.pug
include ../blocks/modal/_modal.pug
include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sOpen/_sOpen.pug
include ../blocks/sHideAndSeek/_sHideAndSeek.pug
include ../blocks/sBanner/_sBanner.pug
include ../blocks/sHowLoopsWork/_sHowLoopsWork.pug
include ../blocks/sTraidingByCalenda/_sTraidingByCalenda.pug
include ../blocks/sMainRule/_sMainRule.pug
include ../blocks/sThreeSteps/_sThreeSteps.pug
include ../blocks/sItsEasy/_sItsEasy.pug
include ../blocks/sEasyWay/_sEasyWay.pug
include ../blocks/sFacts/_sFacts.pug
include ../blocks/sSkills/_sSkills.pug

include ../blocks/sAuthor/_sAuthor.pug
include ../blocks/sCanYou/_sCanYou.pug
include ../blocks/sCycles/_sCycles.pug
include ../blocks/sBenefits/_sBenefits.pug
include ../blocks/sFindYourself/_sFindYourself.pug
include ../blocks/sApply/_sApply.pug
include ../blocks/sQA/_sQA.pug
include ../blocks/sPromo/_sPromo.pug
include ../blocks/sSuccess/_sSuccess.pug
block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
	main
		+headerBlock 
		+sOpen
		+sHideAndSeek
		+sBanner
		+sHowLoopsWork
		+sTraidingByCalenda
		+sMainRule
		+sThreeSteps
		+sItsEasy
		+sEasyWay
		+sFacts
		+sSkills

		+sCycles2
		+sAuthor
		+sCanYou
		+sCycles
		+sFindYourself
		+sBenefits
		+sApply
		+sQA
		+sPromo
		+sSuccess
	+footer