mixin sHideAndSeek(data)
	// start sHideAndSeek
	+b.SECTION.sHideAndSeek.section#sHideAndSeek&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Делаем скрытое явным
				h4 TradingVision.PRO – web-сервис, позволяющий быстро находить циклические закономерности на любых рынках и финансовых инструментах.
			mixin item(text)
				.col-6.col-md-4
					+e.item
						+iconC('info')
						p!=text
			+e.row.row
				+item('Находите тысячи прибыльных циклов в несколько кликов мышки')
				+item('Создавайте свою коллекцию циклических торговых стратегий')
				+item('Автоматически комбинируйте их в портфели стратегий')
				+item('Тестируйте торговые стратегии на истории и на устойчивость к будущим изменениям рынка')
				+item('Торгуйте вручную с помощью уведомлений или запускайте в автоматическую торговлю')
				+item('Отслеживайте аналитику по всему портфелю циклов')
	// end sHideAndSeek