mixin sSkills(data)
	// start sSkills
	+b.SECTION.sSkills.curcle-blur.section#sSkills&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h2 Что умеет делать Trading#[span Vision].PRO?
					h4 Чтобы прийти к успеху в трейдинге, Вам нужно:
				mixin row(num, title, badge, badge2)
					+e.row&attributes(attributes)
						.row
							+e.col.col-lg-auto 
								span!= num
								h4
									!= title
									if badge
										.badge.badge-success PRO
									if badge2
										.badge.badge-primary BONUS
							.col-lg
								block
				+row('01', 'Конструктор стратегий')
					p Позволяет протестировать любую циклическую стратегию на исторических данных, увидеть наглядный график доходности стратегии, итоговую прибыль, процент прибыльных сделок и фактор восстановления стратегии.
				+row('02', 'Генератор стратегий')
					p Позволяет быстро найти все прибыльные циклические закономерности на выбранном активе.
				+row('03', 'Профессиональный стресс-тест стратегий')
					p Позволяет заранее узнать, как поведет себя стратегия в будущем, при неблагоприятном рынке.
				+row('04', 'Персональная коллекция стратегий')
					p Позволяет создавать личную коллекцию стратегий, хранить в ней найденные циклические закономерности, быстро добавлять найденные стратегии из Генератора в Коллекцию одним кликом.
				+row('05', 'Автоматическая генерация портфеля стратегий')
					p В трейдинге важна не только доходность, важна стабильность прибыли. Портфель – единственный способ обеспечить стабильный доход.
					p Нажатием одной кнопки сервис найдет лучший вариант портфеля из стратегий, находящихся в персональной коллекции.
				+row('06', 'Тестирование портфеля стратегий')
					p Позволяет наглядно протестировать торговлю всего портфеля стратегий, узнать его прибыльность, максимальную просадку, фактор восстановления.
				+row('07', 'Экспорт портфеля стратегий в текстовом виде')
					p Позволяет выгрузить портфель стратегий в текстовый файл txt или pdf для дальнейшей ручной торговли.
				+row('08', 'Экспорт портфеля стратегий в виде роботов для автоматической торговли')
					p.mb-0 Позволяет выгрузить весь портфель стратегий в виде торговых роботов:
					ul
						li mq5 - для автоматической торговли в Metatrader 5;
						li mq4 - для автоматической торговли в Metatrader 4;
						li qlua - для автоматической торговли в QUICK.
				+row('09', 'Автоматическая торговля')
					p.mb-0 Позволяет привязать торговый счет и вести автоматическую торговлю напрямую из TradingVision.PRO:
					ul
						li российскими акциями в Т-инвестиции;
						li на рынке спот и фьючерсных рынках криптобиржи Bybit;
						li иностранными активами в Interactive Brokers (в разработке);
						li на рынке спот и фьючерсных рынках криптобиржи OKX (в разработке);
						li на рынке спот и фьючерсных рынках криптобиржи Kukoin (в разработке);
						li на рынке спот и фьючерсных рынках криптобиржи Binance (в разработке);
				+row(10, 'Менеджер стратегий + дневник сделок')
					p Позволяет вести наглядную аналитику по всему портфелю циклических стратегий (для ручной и автоматической торговли). Отслеживает накопленную просадку по каждой стратегии в отдельности. Предупредит Вас, если какая-то стратегия начала ломаться.
				+row(11, 'Сигналы по сделкам')
					p Информирование о сигналах на открытие/закрытие сделок по Вашему портфелю циклических стратегий на электронную почту или в Telegram.
				+row(12, 'Загрузка своих данных')
					p Вы можете загружать данные любого торгового инструмента для поиска циклических закономерностей.
				+row(13, 'Помощник с искусственным интеллектом')
					p Вы можете советоваться с ИИ по любым вопросам трейдинга или инвестиций. Например, попросить его составить список из 10 российских акций с максимальной диверсификацией по отраслям.
				+row(14, 'Модуль финансового планирования')
					p Модуль позволяет создать личный финансовый план с возможностью определить, через какое время Вы заработаете необходимую Вам сумму, используя текущий портфель циклических стратегий. План можно сохранить в pdf.
				+row(15, 'Скринер ближайших актуальных циклов')
					p Позволяет быстро найти подборку циклических стратегий на широком списке торговых инструментов, у которых вход в сделку планируется в ближайшую неделю.
				+row(16, 'Симулятор-тренажер управления циклическими стратегиями')
					p Позволяет тренироваться в управлении циклическими стратегиями - вовремя отключать стратегии, которые показывают признаки поломки, и заменять их новыми стратегиями.
				+row(17, 'Коллекция циклических стратегий PRO').bordreless
					p Огромная коллекция готовых прибыльных циклических стратегий для разных рынков: российские и иностранные акции, криптовалюты, валюты, металлы.
				+e.video-wrap.text-center
					h4 Наглядно, как это все выглядит изнутри
					+e.img-wrap: .img-wrap-center: iframe(src="https://www.youtube.com/embed/6-tn1VY18Vo" title="TradingVision.PRO - web-сервис для циклического трейдинга. Зарабатывайте прямо в браузере!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
					+btnBase('Хочу получить PRO-доступ ко всем функциям TradingVision.PRO')
	// end sSkills