mixin sOpen(data)
	// start sOpen
	+b.SECTION.sOpen.section#sOpen&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h2 Откройте для себя самый простой способ трейдинга!
					h4 Оказывается, можно получать прибыль, просто заходя в сделки по календарю, при этом, даже несмотря на график цены.
				+e.content
					h4 Речь идет о циклическом трейдинге.
					p У каждого финансового инструмента есть свои циклы – повторяющиеся временные интервалы, в течение которых цена актива растет или падает с высокой вероятностью. Например, акции Лукойл чаще всего растут каждый месяц с 24 числа в течение 7 дней.<br/>Вот так это приносит прибыль:
				+defSlider
					+e.slide.swiper-slide(data-fancybox='modal-1' data-src=`img/sOpen-img-1.png`): +img(`img/sOpen-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-1' data-src=`img/sOpen-img-1.png`): +img(`img/sOpen-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-1' data-src=`img/sOpen-img-1.png`): +img(`img/sOpen-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-1' data-src=`img/sOpen-img-1.png`): +img(`img/sOpen-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-1' data-src=`img/sOpen-img-1.png`): +img(`img/sOpen-img-1.png`).res-i
				+e.wrap
					+iconC('info2')
					+img('img/svg/sOpen-img-1.svg').img-1
					ul
						li Зная такие циклические закономерности, зарабатывать в трейдинге может абсолютно каждый.
						li Для этого Вам не нужно долго учиться, тренироваться, тратить свои нервы и сливать депозиты.
						li #[span Акции, фьючерсы, криптовалюты, валюты, металлы, индексы и т.д.] – у всех этих активов есть свои циклы.
						li Другой вопрос, что вручную Вы никогда их не разглядите, сколько не изучай графики цены.
						li Чтобы находить такие закономерности, нужно специальное программное обеспечение.
	// end 