mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			.section-wrap.section-wrap--green
				+b.section-title.text-center
					h2 Автор-разработчик web-сервиса TradingVision.PRO
					h4 Владимир Чамин
				+e.row.row
					.col-lg-6
						ul
							li Частный трейдер и&nbsp;управляющий, в трейдинге с&nbsp;2003&nbsp;года.
							li Разработчик технологий для упрощения и автоматизации трейдинга: Autotrend, TradingVision.PRO, Циклон.
							li В основе успешной торговли – использование фундаментальных рыночных закономерностей и их автоматический трейдинг с помощью портфеля торговых роботов.
							li В кризисном 2014 году установил личный рекорд доходности в автоматическом трейдинге: +253% прибыли к депозиту.
							li Знает индустрию трейдинга изнутри: 11 лет руководил офисом Альпари в Екатеринбурге.
							li Учился у лучших мировых алгоритмических трейдеров: Томас Ниснедал (Чехия), Кевин Дейви (США), Эрнест Чан (США), Андреас Е. Кленоу (Швейцария), Том Бассо (США).
					.col-lg-6
						+e.content
							.h6 Главной мечтой Владимира всегда было создание простого и надежного способа заработка, который сможет использовать абсолютно каждый человек – без длительного обучения и наработки навыков.
							p Из 20-летнего опыта Владимир Чамин сделал вывод: использование временных циклов для заработка на финансовых рынках – самый простой и надежный путь к успеху.
							p Мечта Владимира осуществилась. А вместе с ней и Ваша собственная.
							.h6 Теперь, чтобы стать прибыльным трейдером, Вам не нужно становиться профессионалом.
					img(src="img/sAuthor-img-3.png", alt="").man
			.section-wrap
				.text-center: h3 Вот, что ученики говорят про обучение у Владимира Чамина
				+defSlider
					+e.slide.swiper-slide(data-fancybox='modal-Author' data-src=`img/sAuthor-img-1.png`): +img(`img/sAuthor-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-Author' data-src=`img/sAuthor-img-1.png`): +img(`img/sAuthor-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-Author' data-src=`img/sAuthor-img-1.png`): +img(`img/sAuthor-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-Author' data-src=`img/sAuthor-img-1.png`): +img(`img/sAuthor-img-1.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-Author' data-src=`img/sAuthor-img-1.png`): +img(`img/sAuthor-img-1.png`).res-i
				.text-center: +btnBase('Хочу попасть в команду успешных учеников Владимира Чамина')
	// end sAuthor