mixin sBanner(data)
	// start sBanner
	+b.SECTION.sBanner.section#sBanner&attributes(attributes)
		.container
			+e.wrap
				+img('img/sBanner-img-1.png')
				h3 Чтобы зарабатывать деньги, Вам понадобится только браузер и пару минут в месяц
				p TradingVision.PRO найдет для Вас точные даты, когда цена акции (валюты, крипты и т.д.) будет расти или падать с высокой вероятностью.
				p Это мечта каждого трейдера – знать заранее, когда и во сколько Вы будете совершать сделки.
				+btnBase('Откройте дверь в мечту прямо сейчас')
	// end sBanner