mixin sFacts(data)
	// start sFacts
	+b.SECTION.sFacts.section#sFacts&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Факты о циклическом трейдинге, которые нужно знать
			mixin row(title)
				+e.row
					.row
						+e.col.col-lg-auto
							h4!= title
						.col-lg
							block
			+row('Как математики видят трейдинг?')
				p Если дать график любого актива математику,
				+img('img/sFacts-img-1.png').res-i.blend-mode-darken
				p то он разложит график на три составляющие:
				+e.inner-row.row
					.col-md
						h6 Циклы
						+img('img/sFacts-img-2.png').res-i.blend-mode-darken
					.col-md
						h6 Тренды
						+img('img/sFacts-img-3.png').res-i.blend-mode-darken
					.col-md
						h6 и рыночный шум
						+img('img/sFacts-img-4.png').res-i.blend-mode-darken
				p.text
					| Большинство трейдеров пытаются зарабатывать здесь и сливают свои депозиты.
					+img('img/svg/sFacts-svg-1.svg').arrow
				p.mb-0 Вопрос риторический: на каком из графиков Вам будет проще зарабатывать деньги?
			+row('Официальное исследование. Циклы – САМАЯ прибыльная стратегия на ВСЕХ рынках!')
				p Университет Эразма в Роттердаме провел исследование с целью выявить самую прибыльную стратегию заработка на финансовых рынках.
				p Исследователи изучали шесть самых популярных торговых стратегий на 68 отдельных рынках за 217-летнюю историю:
				ul
					li классические инвестиции,
					li стоимостное инвестирование,
					li стратегии на основе импульсов,
					li дивидендные инвестиции,
					li трендовая торговля,
					li трейдинг циклов.
				h6 Их вывод однозначен: трейдинг на основе циклов — самая прибыльная стратегия, и она работает стабильно на всей истории и на всех рынках.
				p Средняя доходность циклических стратегий за 217 лет в 7,5 раз превысила среднюю доходность классических инвестиций.
				p Они также сравнили прибыльность стратегий с поправкой на риск (ведь в списке стратегии с разными уровнями риска).
				p.mb-0 И даже с поправкой на риск трейдинг на основе циклов в 6 раз превзошел показатели классических инвестиций.
			+row('Лучшие трейдеры мира используют циклы в своей торговле')
				p Ларри Вильямс – легенда трейдинга. Он прославился тем, что сделал 1,1 миллион долларов из 10 000 за один год. Один из его секретов успеха - торговля рыночных циклов. Вот, что говорит Ларри Уильямс о циклическом трейдинге:
				+e.comment
					+img('img/sFacts-img-5.jpg')
					p &laquo;Почему циклические закономерности важны для Вашего трейдинга? Потому&nbsp;что они повторяются с&nbsp;удивительной закономерностью! Это как&nbsp;часовой механизм, и&nbsp;в&nbsp;нем основной ключ к&nbsp;прибыльной торговле&raquo;
			+row('Циклический трейдинг – самый прозрачный вид трейдинга')
				p Вы наверняка сталкивались с тем, что многие так называемые «гуру» трейдинга подделывают свои отчеты о торговле, чтобы показать свою мега-прибыльность. Или показывают только прибыльные периоды. Или показывают на историческом графике свои якобы сделки: «Вот здесь я покупал, вот здесь продавал и заработал миллион».
				p К сожалению, в мире трейдинга очень много обманщиков и аферистов.
				p В циклическом трейдинге подделать результаты невозможно.
				p У цикла всего 2 параметра – точная дата открытия сделки и точная дата ее закрытия. Проверить результативность циклических стратегий на графике – дело одной минуты.
				h6.mb-0 Попробуйте открыть график акций Сбербанк и посмотреть, как ведет себя цена каждый месяц с 24 числа в течение 10 торговых дней. Вам сразу станет ясно, приносит это деньги или нет.
	// end sFacts
